body {
    background-color: black;
}

.form {
    width: 400px;
    margin: 50px auto;
    background-color: rgb(236, 229, 221);
    padding: 20px;
    border-radius: 10px;
}

h1 {
    text-align: center;
    color: #333;
}


input[type="text"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    box-sizing: border-box;
    border: 1px solid white;
    border-radius: 4px;
}

input[type="submit"] {
    background-color: blue;
    color: #fff;
    padding: 10px 15px;
    border-radius: 4px;
    cursor: pointer;
}
