.container {
    position: relative;
    display: inline-block;
}

.image {
    opacity: 0.7; 
}

.text {
    position: absolute;
    color:black; 
   
}

.top-left {
    top: 10px;
    left: 10px;
}

.top-right {
    top: 10px;
    right: 10px;
}

.bottom-left {
    bottom: 10px;
    left: 10px;
}

.bottom-right {
    bottom: 10px;
    right: 10px;
}

.center {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}